PvTerrenos/Web References/WSpvt/pvt-webserv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviciodeconsultas.hol.es/webservice/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviciodeconsultas.hol.es/webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://serviciodeconsultas.hol.es/webservice/">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="loginRequest">
    <wsdl:part name="usuario" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraUsuarioRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="apellidoPaterno" type="xsd:string" />
    <wsdl:part name="apellidoMaterno" type="xsd:string" />
    <wsdl:part name="tipo" type="xsd:string" />
    <wsdl:part name="email" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraUsuarioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarUsuariosRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarUsuariosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="usuarioUpdateRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_usuario" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="apellidoPaterno" type="xsd:string" />
    <wsdl:part name="apellidoMaterno" type="xsd:string" />
    <wsdl:part name="tipo" type="xsd:string" />
    <wsdl:part name="email" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="usuarioUpdateResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="usuarioChangePasswordRequest">
    <wsdl:part name="id-sesion" type="xsd:string" />
    <wsdl:part name="id_usuario" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="usuarioChangePasswordResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPerfilUsuarioRequest">
    <wsdl:part name="id-sesion" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPerfilUsuarioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarUsuarioPorRequest">
    <wsdl:part name="id-sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarUsuarioPorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraCompradorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="apellidoPaterno" type="xsd:string" />
    <wsdl:part name="apellidoMaterno" type="xsd:string" />
    <wsdl:part name="domicilio" type="xsd:string" />
    <wsdl:part name="recidencia" type="xsd:string" />
    <wsdl:part name="e_civil" type="xsd:string" />
    <wsdl:part name="ocupacion" type="xsd:string" />
    <wsdl:part name="beneficiario" type="xsd:string" />
    <wsdl:part name="tels" type="xsd:string" />
    <wsdl:part name="colonia" type="xsd:string" />
    <wsdl:part name="estado" type="xsd:string" />
    <wsdl:part name="municipio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateCompradorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_comprador" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="apellidoPaterno" type="xsd:string" />
    <wsdl:part name="apellidoMaterno" type="xsd:string" />
    <wsdl:part name="domicilio" type="xsd:string" />
    <wsdl:part name="recidencia" type="xsd:string" />
    <wsdl:part name="e_civil" type="xsd:string" />
    <wsdl:part name="ocupacion" type="xsd:string" />
    <wsdl:part name="beneficiario" type="xsd:string" />
    <wsdl:part name="tels" type="xsd:string" />
    <wsdl:part name="colonia" type="xsd:string" />
    <wsdl:part name="estado" type="xsd:string" />
    <wsdl:part name="municipio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getCompradorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_comprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarCompradoresRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listarCompradoresResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarCompradorPorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarCompradorPorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminaCompradorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_comprador" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminaCompradorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraventaRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="comprador" type="xsd:string" />
    <wsdl:part name="vendedor" type="xsd:string" />
    <wsdl:part name="lote" type="xsd:string" />
    <wsdl:part name="total_venta" type="xsd:string" />
    <wsdl:part name="saldo_actual" type="xsd:string" />
    <wsdl:part name="mensualidades" type="xsd:string" />
    <wsdl:part name="pago" type="xsd:string" />
    <wsdl:part name="pago_minimo" type="xsd:string" />
    <wsdl:part name="fecha_alta" type="xsd:string" />
    <wsdl:part name="fecha_corte" type="xsd:string" />
    <wsdl:part name="tipo_pago" type="xsd:string" />
    <wsdl:part name="comicion" type="xsd:string" />
    <wsdl:part name="interes_tardio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraventaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateVentaRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_venta" type="xsd:string" />
    <wsdl:part name="comprador" type="xsd:string" />
    <wsdl:part name="vendedor" type="xsd:string" />
    <wsdl:part name="lote" type="xsd:string" />
    <wsdl:part name="total_venta" type="xsd:string" />
    <wsdl:part name="saldo_actual" type="xsd:string" />
    <wsdl:part name="mensualidades" type="xsd:string" />
    <wsdl:part name="pago" type="xsd:string" />
    <wsdl:part name="pago_minimo" type="xsd:string" />
    <wsdl:part name="fecha_alta" type="xsd:string" />
    <wsdl:part name="fecha_corte" type="xsd:string" />
    <wsdl:part name="tipo_pago" type="xsd:string" />
    <wsdl:part name="comicion" type="xsd:string" />
    <wsdl:part name="interes_tardio" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateVentaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listaVentasRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listaVentasResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getComisionRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="venta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getComisionResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setComisionRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="venta" type="xsd:string" />
    <wsdl:part name="comicion" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setComisionResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVentaRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_venta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVentaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarVentaPorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarVentaPorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraLoteRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="pk_manzana" type="xsd:string" />
    <wsdl:part name="estatus" type="xsd:string" />
    <wsdl:part name="n_lote" type="xsd:string" />
    <wsdl:part name="descripcion" type="xsd:string" />
    <wsdl:part name="precio" type="xsd:string" />
    <wsdl:part name="medida" type="xsd:string" />
    <wsdl:part name="pk_norte" type="xsd:string" />
    <wsdl:part name="pk_sur" type="xsd:string" />
    <wsdl:part name="pk_este" type="xsd:string" />
    <wsdl:part name="pk_oeste" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="registraLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateLoteRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_lote" type="xsd:string" />
    <wsdl:part name="pk_manzana" type="xsd:string" />
    <wsdl:part name="estatus" type="xsd:string" />
    <wsdl:part name="n_lote" type="xsd:string" />
    <wsdl:part name="descripcion" type="xsd:string" />
    <wsdl:part name="precio" type="xsd:string" />
    <wsdl:part name="medida" type="xsd:string" />
    <wsdl:part name="pk_norte" type="xsd:string" />
    <wsdl:part name="pk_sur" type="xsd:string" />
    <wsdl:part name="pk_este" type="xsd:string" />
    <wsdl:part name="pk_oeste" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminaLoteRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_lote" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminaLoteResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscaLotePorRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscaLotePorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="hacerPagoRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_venta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="hacerPagoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cancelarPagoRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="id_venta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cancelarPagoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarPagosRequest">
    <wsdl:part name="id_sesion" type="xsd:string" />
    <wsdl:part name="modo" type="xsd:string" />
    <wsdl:part name="valor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarPagosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="PVTPortType">
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginRequest" />
      <wsdl:output message="tns:loginResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraUsuario">
      <wsdl:input message="tns:registraUsuarioRequest" />
      <wsdl:output message="tns:registraUsuarioResponse" />
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <wsdl:input message="tns:listarUsuariosRequest" />
      <wsdl:output message="tns:listarUsuariosResponse" />
    </wsdl:operation>
    <wsdl:operation name="usuarioUpdate">
      <wsdl:input message="tns:usuarioUpdateRequest" />
      <wsdl:output message="tns:usuarioUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="usuarioChangePassword">
      <wsdl:input message="tns:usuarioChangePasswordRequest" />
      <wsdl:output message="tns:usuarioChangePasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPerfilUsuario">
      <wsdl:input message="tns:getPerfilUsuarioRequest" />
      <wsdl:output message="tns:getPerfilUsuarioResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarUsuarioPor">
      <wsdl:input message="tns:buscarUsuarioPorRequest" />
      <wsdl:output message="tns:buscarUsuarioPorResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraComprador">
      <wsdl:input message="tns:registraCompradorRequest" />
      <wsdl:output message="tns:registraCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateComprador">
      <wsdl:input message="tns:updateCompradorRequest" />
      <wsdl:output message="tns:updateCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="getComprador">
      <wsdl:input message="tns:getCompradorRequest" />
      <wsdl:output message="tns:getCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="listarCompradores">
      <wsdl:input message="tns:listarCompradoresRequest" />
      <wsdl:output message="tns:listarCompradoresResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarCompradorPor">
      <wsdl:input message="tns:buscarCompradorPorRequest" />
      <wsdl:output message="tns:buscarCompradorPorResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminaComprador">
      <wsdl:input message="tns:eliminaCompradorRequest" />
      <wsdl:output message="tns:eliminaCompradorResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraventa">
      <wsdl:input message="tns:registraventaRequest" />
      <wsdl:output message="tns:registraventaResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateVenta">
      <wsdl:input message="tns:updateVentaRequest" />
      <wsdl:output message="tns:updateVentaResponse" />
    </wsdl:operation>
    <wsdl:operation name="listaVentas">
      <wsdl:input message="tns:listaVentasRequest" />
      <wsdl:output message="tns:listaVentasResponse" />
    </wsdl:operation>
    <wsdl:operation name="getComision">
      <wsdl:input message="tns:getComisionRequest" />
      <wsdl:output message="tns:getComisionResponse" />
    </wsdl:operation>
    <wsdl:operation name="setComision">
      <wsdl:input message="tns:setComisionRequest" />
      <wsdl:output message="tns:setComisionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVenta">
      <wsdl:input message="tns:getVentaRequest" />
      <wsdl:output message="tns:getVentaResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarVentaPor">
      <wsdl:input message="tns:buscarVentaPorRequest" />
      <wsdl:output message="tns:buscarVentaPorResponse" />
    </wsdl:operation>
    <wsdl:operation name="registraLote">
      <wsdl:input message="tns:registraLoteRequest" />
      <wsdl:output message="tns:registraLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateLote">
      <wsdl:input message="tns:updateLoteRequest" />
      <wsdl:output message="tns:updateLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminaLote">
      <wsdl:input message="tns:eliminaLoteRequest" />
      <wsdl:output message="tns:eliminaLoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscaLotePor">
      <wsdl:input message="tns:buscaLotePorRequest" />
      <wsdl:output message="tns:buscaLotePorResponse" />
    </wsdl:operation>
    <wsdl:operation name="hacerPago">
      <wsdl:input message="tns:hacerPagoRequest" />
      <wsdl:output message="tns:hacerPagoResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelarPago">
      <wsdl:input message="tns:cancelarPagoRequest" />
      <wsdl:output message="tns:cancelarPagoResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarPagos">
      <wsdl:input message="tns:buscarPagosRequest" />
      <wsdl:output message="tns:buscarPagosResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PVTBinding" type="tns:PVTPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/login" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraUsuario">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraUsuario" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/listarUsuarios" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioUpdate">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/usuarioUpdate" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioChangePassword">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/usuarioChangePassword" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerfilUsuario">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getPerfilUsuario" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuarioPor">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscarUsuarioPor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarCompradores">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/listarCompradores" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarCompradorPor">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscarCompradorPor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaComprador">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/eliminaComprador" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraventa">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraventa" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVenta">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateVenta" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaVentas">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/listaVentas" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComision">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getComision" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setComision">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/setComision" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVenta">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/getVenta" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarVentaPor">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscarVentaPor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registraLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/registraLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/updateLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaLote">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/eliminaLote" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaLotePor">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscaLotePor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hacerPago">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/hacerPago" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarPago">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/cancelarPago" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPagos">
      <soap:operation soapAction="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php/buscarPagos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://serviciodeconsultas.hol.es/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PVT">
    <wsdl:port name="PVTPort" binding="tns:PVTBinding">
      <soap:address location="http://serviciodeconsultas.hol.es/webservice/pvt-webserv.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>